*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.atras {
	background-color: rgb(32, 39, 105);
	color: rgb(226, 212, 212);
	padding: 15px 25px;
	text-decoration: none;
}

.atras:hover {
	background-color: #223094;
}
h1{
    text-align: center;
    color: rgb(218, 26, 26);
}
body{
    background-color: rgb(108, 185, 192);
    font-family: cursive;color: #000;
}

.titulo {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 40vh;
	font-size: 33px;
	text-transform: uppercase;
}

.contenedor {
	width: 90%;
	max-width: 1200px;
	margin: 100px auto;
	display: flex;
	flex-direction: column;
	position: relative;
}
.contenedor::after {
	/* Insertan contenido después de la acción inicial */
	content: "";
	width: 2px;
	height: 100%;
	background: #1b3231;
	position: absolute;
	top: 0;
	/* calcular el ancho de un elemento */
	left: calc(50% - 1px);
	/* Cuando varios elementos se superponen, los elementos con mayor valor z-index cubren aquellos con menor valor. */
	z-index: 1;
}
.evento {
	display: flex;
	/* alinea los elementos del contenedor flexible */
	justify-content: space-between;
	margin-bottom: 200px;
	position: relative;
}
.evento::after {
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	border-radius: 100px;
	background: #DCDFD9;
	border: 2px solid #1b3231;
	position: absolute;
	z-index: 2;
	top: calc(50% - 9px);
	left: calc(50% - 9px);
}

.imformacion {
	display: flex;
	align-items: center;
	justify-content: start;
	width: calc(38% + 50px);
	font-size: 25px;
	font-weight: normal;
}
.foto {
	width: 45%;
	border: 15px solid #fff;
	position: relative;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.foto::after {
	content: "";
	display: block;
	border: 20px solid transparent;
	border-left: 20px solid #fff;
	position: absolute;
	right: -53px;
	top: calc(50% - 20px);
}
.foto img {
	width: 100%;
	height: 100%;
	vertical-align: top;
}
/* Representa elementos cuya posición numérica en una serie de hermanos es impar */
.evento:nth-child(even) {
	flex-direction: row-reverse;
}
.evento:nth-child(even) .fecha {
	justify-content: end;
}
.evento:nth-child(even) .foto::after {
	content: "";
	border: 20px solid transparent;
	border-right: 20px solid #fff;
	right: initial;
	left: -50px;
}